// media qoury
$maxSmallMobile: "(max-width: 320px)";
$maxMobile: "(max-width: 768px)";
$minSmall: "(min-width: 768px)";
$maxSmall: "(max-width: 991px)";
$minMedium: "(min-width: 992px)";
$maxMedium: "(min-width: 1200px)";
$minLarge: "(min-width : 1200px)";


// Colors
$social: (facebook: #3b5998, behance: #131418, linkedin: #0077B5, github: #6e5494);
// Floats
$float-left: left;
$float-right: right;

// Fonts
$main-font: 'Ubuntu', sans-serif;
    

